.wireframe {
	width: 950px;
	height: 1000px;

}
.repeat {
	     box-shadow: 5px 5px 5px #888888;	     
	     display: inline;
	     width: 442px;
	     height: 281px;
	     float: left;
	     padding-left: 5px;
	     padding-top: 5px;
}

.res { 
 
          font-family: arial,sans-serif-light,sans-serif;
          font-size: large !important;
          font-weight: lighter !important;
          color: #000000 !important;
          width: 400px;
          display: block;
          height: 235px;
       	  padding: 20px 20px 24px;
		  position: relative;
		  line-height: 1.2;
		  background-image: url("img/sky.jpg");
		  border-width: 1px;
		  border-style: solid;
	      border-color: rgba(103, 103, 102, 0.22);
	      

        
        }
.resTem {
	     padding-left: 10px;
         height: 72px;
         display: inline;
         font-size: 62px;
         color: #212121 !important;
         float: left;
}
.resUni {
	     width: 64px;
         height: 60px;
	     display: inline;
	     margin-top: 6px;
	     float: left;
} 
.resPre {
	     width: 180px;
	     display: block;
	     float: left;
}
.resHum {
	     float: left;
}
.resIco {
	     height: 72px;
	     display: inline;
	     float: left;
}
.resPHW {
	     width: 200px;
	     height: 70px;
	     float: right;
         min-width: 50%;
         padding-left: 5px;
         line-height: 20px;
         padding-top: 2px;
}
.resWin {
	     display: -webkit-inline-box;
}
ol {
	    margin-top: 0px;
        margin-bottom: 0px;
}
.active {
	     display: inline;

}
.remove {
	     cursor: pointer;
	     float: right;
	     border-radius: 50%;
}
.resFor {
	     display: inline;
	     margin-top: 55px;
	     border-width: 1px;
         border-style: solid;
	     border-color: rgba(103, 103, 102, 0.22);
}
.resFoe {
	     display: flex;
	     width: 400px;
	     height: 100px;
	     text-align: center;
	     font-size: smaller;

}
.resFore  {   
	     height: 200px;
	     width: 400px;
	     text-align: center;
	     float: left;
	     display: inline;

}
.resFoRep {
         width: 50px;
         height: 115px;
	     margin-right: 25px;
	     display: inline-table;
}


